<div class="hero">
	<div class="hero-content">
	
		<a href="/"><img src="https://micro.blog/leeperry/avatar.jpg" alt="Lee Perry Profile Photo" class="profile-photo"></a>
		
		<h1><a href="/">Lee Perry</a></h1>
		
		<p>Burnley based canine parent. I talk about ⚽️ Burnley FC 🏃🚴‍♂️🧗fitness, 🚌🚝 exploring, 🎮 retrogaming, 👨🏼‍💻code and 🐕 Podencos. <br><strong>Follow:</strong> <a href="https://micro.blog/leeperry?remote_follow=1">🐘 blog</a> | <a rel="me" href="https://indieweb.social/@leeperry">🐘 me</a> | <a href="https://bsky.app/profile/lee-perry.co.uk">Bluesky</a> | <a href="/subscribe/">Newsletter</a> | <a href="/feeds/">RSS</a></p> 
	</div>
</div>