{{  if eq .Title "Age of Empires" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Articles" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "bayLee" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>
	
{{  else if eq .Title "Bouldering" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Boxing" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Burnley FC" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Buster" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Caesar III" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Cycling" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Canine Children" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Caoimhe" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Chromebook" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Climbing" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Development" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Exploring" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>
	
{{  else if eq .Title "Facebook Archive" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Football" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>
	
{{  else if eq .Title "Fearghus" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Food and Drink" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Fire Safety" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Gaming" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Gym" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>
	
{{  else if eq .Title "Health and Safety" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Hens" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>
	
{{  else if eq .Title "Ice Climbing" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>
	
{{  else if eq .Title "Investing" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Leo" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Manic Miner" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Me" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Mountains" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>
	
{{  else if eq .Title "Music" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Mustang" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Quotes" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Races" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Railroad Tycoon II" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Railroad Tycoon II The Second Century Campaign" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Rocco" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Rowing" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Rugby" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Running" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Scrambles" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Service Stations" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Stevie" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>
	
{{  else if eq .Title "Steve McQueen" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Snips" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Sports Grounds" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Swimming" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Train Stations" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Vickie" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Video" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>

{{  else if eq .Title "Walks" }}	
	<p>All articles and snips I have written about {{ .Title }}</p>
	
{{ end }}